@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #e5ffff, #d8f6e6, #eeeeee);
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

nav a.active {
  color: red;
}
